<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/Content/cupertino/jquery-ui-1.8.21.custom.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/gridmvc.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/gridmvc.lang.ru.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/gridmvc.customwidgets.js")" type="text/javascript"> </script>
</head>
<body>
    <div class="page">
        <div id="header">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="/">Grid.Mvc</a>
                    <ul class="nav">
                        <li class="@(ViewBag.ActiveMenuTitle == "Demo" ? "active" : string.Empty)">@Html.ActionLink("Demo", "Index", "Home")</li>
                        <li class="@(ViewBag.ActiveMenuTitle == "About" ? "active" : string.Empty)">@Html.ActionLink("About", "About", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>


    </div>
</body>
</html>
