<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/SyntaxHighlighter/shCore.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/SyntaxHighlighter/shCoreDefault.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/Content/cupertino/jquery-ui-1.8.21.custom.css")" rel="stylesheet" type="text/css" />

    <!-- SCRIPTS -->
    <script src="@Url.Content("~/Scripts/jquery-2.0.2.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/main.js")" type="text/javascript"> </script>

    <script src="@Url.Content("~/Scripts/SyntaxHighlighter/shCore.js")"></script>
    <script src="@Url.Content("~/Scripts/SyntaxHighlighter/shBrushCSharp.js")"></script>
    <script src="@Url.Content("~/Scripts/SyntaxHighlighter/shBrushCss.js")"></script>
    <script src="@Url.Content("~/Scripts/SyntaxHighlighter/shBrushJScript.js")"></script>
    <script src="@Url.Content("~/Scripts/SyntaxHighlighter/shBrushRazor.js")"></script>

    <script src="@Url.Content("~/Scripts/gridmvc.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/gridmvc.lang.ru.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/gridmvc.customwidgets.js")" type="text/javascript"> </script>


</head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="brand" href="/">Grid.Mvc</a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li class="@(ViewBag.ActiveMenuTitle == "Demo" ? "active" : string.Empty)">@Html.ActionLink("Demo", "Index", "Home")</li>
                                <li class="@(ViewBag.ActiveMenuTitle == "AjaxPaging" ? "active" : string.Empty)">@Html.ActionLink("Ajax paging", "AjaxPaging", "Home")</li>
                                <li class="@(ViewBag.ActiveMenuTitle == "About" ? "active" : string.Empty)">@Html.ActionLink("About", "About", "Home")</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div id="main">
                @RenderBody()
            </div>
        </div>
    </body>
</html>
